<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to t('common.show'), [:admin, railway_station], :class => "btn btn-primary" %></td>
  <td><%= link_to t('common.edit'), edit_admin_railway_station_path(railway_station), :class => "btn btn-primary" %></td>
  <td><%= link_to t('common.destroy'), [:admin, railway_station], method: :delete, data: { confirm: 'Вы уверенны?' }, :class => "btn btn-primary" %></td>
</tr>
