<h1><%= t('.title') %></h1>

<h2><%= @railway_station.title %></h2>

<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station), :class => "btn btn-primary" %> |
<%= link_to t('common.back'), admin_railway_stations_path, :class => "btn btn-primary" %>
