<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <tr>
      <td>"(с) 2017 Басалаев Владимир. Учебный проект в </td>
      <td><a href="http://www.thinknetica.com" target = "_blank">онлайн-школе Thinknetica"</a></td>
    </tr>
  </footer>

</html>
